.card{
  border: 1px solid rgb(179, 177, 177);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(185, 181, 181);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(129, 124, 124);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 139, 139);
}

/* .button{
  background-color: #72a4f5;
  color: white;
  border: 2px solid #2f599c ;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
external css yazarken, modules ve inline css gibi yöntemler de var.
modules: button için ayrı bir component klasörü oluşturup css ve jsx kısımlarını orda işleriz.
inline: taiwind gibi kütüphaneler ile ya da direkt const styles{} şeklinde.
*/

.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding:10px;
  margin:5px;
  border: 1px solid rgb(151, 138, 138);
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-align: center;
  width: 20%;
}
.student p {
  margin: 0 5px; 
}

@media only screen and (max-width: 820px) {
.student{
  display: flex;
  flex-direction: column;
}
}

.welcome-message{
  font-size: 1.5em;
  background-color: #84cc16;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin: 0;
}

.login-prompt{
  font-size: 1.5em;
  background-color: rgb(180, 43, 43);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin: 0;
}
